extends ../base

block content 
    video(src=`/${video.videoUrl}` controls) 
    div
        h4=video.title
        p=video.description
        p #{video.meta.views} / #{video.meta.rating}
        small=video.createdAt
        br
        small
            a(href=`/users/${video.owner._id}`)=video.owner.nickname
    
    if String(video.owner._id) === String(loggedInUser._id)
        a(href=`/videos/${video.id}/edit`) Edit Video
        br
        a(href=`/videos/${video.id}/delete`) Delete Video
    