mixin video(videos)
    div
        p
            a(href=`/videos/${videos.id}`)=videos.title
            ul 
                li=videos.title
                li=videos.description
                li=videos.hashtags
                li=videos.meta.views
                li=videos.meta.rating