extends base

block content
    each video in videos
        p
            a(href=`/videos/${video.id}`)=video.title
        ul 
            li=video.title
            li=video.description
            li=video.hashtags
            li=video.meta.views
            li=video.meta.rating
    else 
        p Sorry. Please Search Video.
